
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        each arr in array
         if arr % 2 != 0
            p= `${arr} ` + "Soy Impar!"
         else
            p= `${arr} ` + "Soy Par!"